<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Luka Susha's Blog</h1>
  </header>
  <div class="container">
    <h1><%= post.title %></h1>
    <p>By: <%= post.username %> on <%= post.date %></p>
    <p><%= post.postcontent %></p>
    <a href="/">Back to Home</a>
  </div>
</body>
</html>
